* {
  box-sizing: border-box;
}

.list {
  width: 80%;
  height: 100px;
  background-color: yellow;
  margin: auto;
}
.list ul {
  width: 100%;
  height: auto;
  list-style: none;
  background-color: green;
}
.list li {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 2px solid black;
}
